<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />

    <title>Contact Us</title>
    <meta content="" name="description" />
    <meta content="" name="keywords" />

    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
      rel="stylesheet"
    />

    <!-- Vendor CSS Files -->
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/vendor/icofont/icofont.min.css" rel="stylesheet" />
    <link href="/vendor/boxicons/css/boxicons.min.css" rel="stylesheet" />
    <link
      href="/vendor/owl.carousel/assets/owl.carousel.min.css"
      rel="stylesheet"
    />
    <link href="/vendor/venobox/venobox.css" rel="stylesheet" />
    <link href="/vendor/aos/aos.css" rel="stylesheet" />

    <!-- Template Main CSS File -->
    <link href="styles/style.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="styles/jquery.convform.css" />
  </head>

  <body>
    <!-- ChatBot -->
    <div class="chat_icon">
      <!-- <i class="fa fa-comments" aria-hidden="true"></i> -->
      <img
        src="img/gallary/whatsapp.png"
        alt=""
        style="width: 60px; height: 60px; opacity: 0.9"
        data-aos="fade-up"
      />
    </div>

    <div class="chat_box">
      <div class="my-conv-form-wrapper">
        <form action="" method="GET" class="hidden">
          <input
            type="text"
            data-conv-question="Chat with us, and get a quotation as soon as possible"
          />
          <input
            type="text"
            data-conv-question="Thanku For Contacting Us!, to register Your Query Please Type Yes"
          />
          <select data-conv-question="Please Confirm">
            <option value="Yes">Confirm</option>
          </select>
        </form>
      </div>
    </div>
    <!-- ChatBot end -->
    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top header-transparent">
      <div class="container d-flex align-items-center">
        <div class="logo mr-auto">
          <h1 class="text-light">
            <a class="img-fluid" href="/"
              ><img
                src="/img/hero-img.png"
                alt=""
                class="rounded-circle border"
                height="60"
                width="60"
              />
              Quient Group</a
            >
          </h1>
          <!-- Uncomment below if you prefer to use an image logo -->
          <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a> -->
        </div>

        <nav class="nav-menu d-none d-lg-block">
          <ul>
            <li class="active"><a href="/">Home</a></li>
            <li><a href="/#features">About Us</a></li>
            <li><a href="/testinomial">Testinomials</a></li>
            <li><a href="/gallary">Gallary</a></li>
            <li><a href="/contact">Contact Us</a></li>

            <!-- <li class="get-started"><a href="#features">Login</a></li> -->
          </ul>
        </nav>
        <!-- .nav-menu -->
      </div>
    </header>
    <!-- End Header -->

    <main id="main">
      <!-- ======= App Features Section ======= -->
      <!-- ======= Contact Section ======= -->
      <section id="contact" class="contact">
        <div class="container">
          <div class="section-title">
            <h2>Contact Us</h2>
            <p class="lead" style="font-weight: 800">
              we would love to hear it from you on your query !!!!!
              <i class="bx bxs-message-square-detail"></i>
            </p>
          </div>

          <div class="row">
            <div class="col-lg-6">
              <div class="row">
                <div class="col-lg-6 info" data-aos="fade-up">
                  <i class="bx bx-map"></i>
                  <h4>Address</h4>
                  <p>A108 some Street,<br />Bangalore, NY 560045</p>
                </div>
                <div
                  class="col-lg-6 info"
                  data-aos="fade-up"
                  data-aos-delay="100"
                >
                  <i class="bx bx-phone"></i>
                  <h4>Call Us</h4>
                  <p>+91 5589 55488 55<br />+91 5589 22548 64</p>
                </div>
                <div
                  class="col-lg-6 info"
                  data-aos="fade-up"
                  data-aos-delay="200"
                >
                  <i class="bx bx-envelope"></i>
                  <h4>Email Us</h4>
                  <p>contact@example.com<br />info@example.com</p>
                </div>
                <div
                  class="col-lg-6 info"
                  data-aos="fade-up"
                  data-aos-delay="300"
                >
                  <i class="bx bx-time-five"></i>
                  <h4>Working Hours</h4>
                  <p>Mon - Fri: 9AM to 5PM<br />Sunday: 9AM to 1PM</p>
                </div>
              </div>
            </div>

            <div class="col-lg-6">
              <form
                action="/contact"
                method="POST"
                id="form"
                role="form"
                data-aos="fade-up"
              >
                <div class="form-group">
                  <input
                    placeholder="Your Name"
                    type="text"
                    name="name"
                    class="form-control"
                    id="name"
                    required
                  />
                </div>
                <div class="form-group">
                  <input
                    placeholder="Your Email"
                    type="email"
                    class="form-control"
                    name="email"
                    id="email"
                    required
                  />
                </div>
                <div class="form-group">
                  <input
                    placeholder="Phone Number"
                    type="text"
                    class="form-control"
                    name="phone"
                    id="phone"
                    maxlength="10"
                    required
                  />
                </div>
                <div class="form-group">
                  <textarea
                    placeholder="Message"
                    class="form-control"
                    id="message"
                    name="message"
                    rows="5"
                    required
                  ></textarea>
                </div>
                <div class="text-center">
                  <button type="submit" class="btn btn-outline-success">
                    Send Message
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </section>
      <!-- End Contact Section -->
    </main>
    <!-- End #main -->

    <!-- ======= Footer ======= -->
    <footer id="footer">
      <div class="footer-top">
        <div class="container">
          <div class="row">
            <div class="col-lg-3 col-md-6 footer-contact" data-aos="fade-up">
              <h3>Quient Group</h3>
              <p>
                A108 street <br />
                Bangalore, NY 560045<br />
                India <br /><br />
                <strong>Phone:</strong> +91 5589 55488 55<br />
                <strong>Email:</strong> info@example.com<br />
              </p>
            </div>

            <div
              class="col-lg-3 col-md-6 footer-links"
              data-aos="fade-up"
              data-aos-delay="100"
            >
              <h4>Useful Links</h4>
              <ul>
                <li>
                  <i class="bx bx-chevron-right"></i> <a href="/">Home</a>
                </li>
                <li>
                  <i class="bx bx-chevron-right"></i>
                  <a href="/#features">About us</a>
                </li>
                <li>
                  <i class="bx bx-chevron-right"></i>
                  <a href="/testinomial">Testinomials</a>
                </li>
                <li>
                  <i class="bx bx-chevron-right"></i>
                  <a href="/gallary">Gallary</a>
                </li>
                <li>
                  <i class="bx bx-chevron-right"></i>
                  <a href="/contact">Contact Us</a>
                </li>
              </ul>
            </div>

            <!-- <div
              class="col-lg-3 col-md-6 footer-links"
              data-aos="fade-up"
              data-aos-delay="200"
            >
              <h4>Our Training</h4>
              <ul>
                <li>
                  <i class="bx bx-chevron-right"></i> <a href="#">Web Design</a>
                </li>
                <li>
                  <i class="bx bx-chevron-right"></i>
                  <a href="#">Web Development</a>
                </li>
                <li>
                  <i class="bx bx-chevron-right"></i>
                  <a href="#">Product Management</a>
                </li>
                <li>
                  <i class="bx bx-chevron-right"></i> <a href="#">Marketing</a>
                </li>
                <li>
                  <i class="bx bx-chevron-right"></i>
                  <a href="#">Graphic Design</a>
                </li>
              </ul>
            </div> -->

            <div
              class="col-lg-3 col-md-6 footer-links"
              data-aos="fade-up"
              data-aos-delay="300"
            >
              <h4>Our Social Networks</h4>
              <p>Stay in contact always!!! <i class="bx bxs-hand-down"></i></p>
              <div class="social-links mt-3">
                <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                <a href="#" class="instagram"
                  ><i class="bx bxl-instagram"></i
                ></a>
                <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
                <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
              </div>
            </div>
            <div class="text-center">
              <a href="/show" class="btn btn-info" data-aos="fade-up"
                >Click here to view Queries</a
              >
            </div>
          </div>
        </div>
      </div>

      <div class="container py-4">
        <div class="copyright">
          &copy; Copyright <strong><span>Quinet Group</span></strong
          >. All Rights Reserved
        </div>
        <div class="credits">Designed by <a href="">Vishwas D Raj</a></div>
      </div>
    </footer>
    <!-- End Footer -->
    <div
      style="
        width: 60px;
        height: 60px;
        position: fixed;
        right: 147px;
        bottom: 25px;
        opacity: 0.9;
      "
      data-aos="fade-up"
    >
      <p
        href=""
        style="color: green; font-weight: bold; background-color: whitesmoke"
      >
        +915887451654
      </p>
    </div>
    <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

    <!-- Vendor JS Files -->
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/vendor/jquery.easing/jquery.easing.min.js"></script>
    <script src="/vendor/php-email-form/validate.js"></script>
    <script src="/vendor/owl.carousel/owl.carousel.min.js"></script>
    <script src="/vendor/venobox/venobox.min.js"></script>
    <script src="/vendor/aos/aos.js"></script>

    <!-- Template Main JS File -->
    <script type="text/javascript" src="/js/jquery.convform.js"></script>
    <script src="/js/main.js"></script>
  </body>
</html>
