<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />

    <title>Placement training</title>
    <meta content="" name="description" />
    <meta content="" name="keywords" />
    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
      rel="stylesheet"
    />

    <!-- Vendor CSS Files -->
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/vendor/icofont/icofont.min.css" rel="stylesheet" />
    <link href="/vendor/boxicons/css/boxicons.min.css" rel="stylesheet" />
    <link
      href="/vendor/owl.carousel/assets/owl.carousel.min.css"
      rel="stylesheet"
    />
    <link href="/vendor/venobox/venobox.css" rel="stylesheet" />
    <link href="/vendor/aos/aos.css" rel="stylesheet" />

    <!-- Template Main CSS File -->
    <link href="styles/style.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="styles/jquery.convform.css" />
  </head>

  <body>
    <!-- ChatBot -->
    <div class="chat_icon">
      <!-- <i class="fa fa-comments" aria-hidden="true"></i> -->
      <img src="img/gallary/whatsapp.png" alt="" style="width: 60px; height: 60px;opacity: 0.9;" data-aos="fade-up" />
    </div>

    <div class="chat_box">
      <div class="my-conv-form-wrapper">
        <form action="" method="GET" class="hidden">
          <input type="text" data-conv-question="Chat with us, and get a quotation as soon as possible" >
          <input type="text" data-conv-question="Thanku For Contacting Us!, to register Your Query Please Type Yes" >
        </form>
      </div>
    </div>
    <!-- ChatBot end -->
    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top header-transparent">
      <div class="container d-flex align-items-center">
        <div class="logo mr-auto">
          <h1 class="text-light">
            <a class="img-fluid" href="/"
              ><img
                src="/img/hero-img.png"
                alt=""
                class="rounded-circle border"
                height="60"
                width="60"
              />
              Quient Group</a
            >
          </h1>
          <!-- Uncomment below if you prefer to use an image logo -->
          <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a> -->
        </div>

        <nav class="nav-menu d-none d-lg-block">
          <ul>
            <li class="active"><a href="/">Home</a></li>
            <li><a href="#features">About Us</a></li>
            <li><a href="/testinomial" >Testimonials</a></li>
            <li><a href="/gallary">Gallary</a></li>
            <li><a href="/contact">Contact Us</a></li>

            <!-- <li class="get-started"><a href="#features">Login</a></li> -->
          </ul>
        </nav>
        <!-- .nav-menu -->
      </div>
    </header>
    <!-- End Header -->

    <!-- ======= Hero Section ======= -->
    <section id="hero" class="d-flex align-items-center">
      <div class="container">
        <div class="row">
          <div
            class="
              col-lg-6
              d-lg-flex
              flex-lg-column
              justify-content-center
              align-items-stretch
              pt-5 pt-lg-0
              order-2 order-lg-1
            "
            data-aos="fade-up"
          >
            <div>
              <h1>About vision and the company</h1>
              <h2>
                Lorem ipsum dolor sit amet, tota senserit percipitur ius ut, usu
                et fastidii forensibus voluptatibus. His ei nihil feugait Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos, ullam cum ipsa beatae in officia corporis delectus tempora unde debitis sequi soluta recusandae aspernatur facilis fugit, eos perspiciatis magnam dolores!
              </h2>
            </div>
            <div>
              <h1>Training stats:</h1>
              <h2>
                1000+ students trained across 110+ colleges
              </h2>
            </div>
          </div>
          <div
            class="
              col-lg-6
              d-lg-flex
              flex-lg-column
              align-items-stretch
              order-1 order-lg-2
              hero-img
            "
            data-aos="fade-up"
          >
            <img src="/img/hero-img.png" class="img-fluid" alt="" />
          </div>
        </div>
      </div>
    </section>
    <!-- End Hero -->

    <main id="main">
      <!-- ======= App Features Section ======= -->
      <section id="features" class="features">
        <div class="container">
          <div class="section-title">
            <h2 data-aos="fade-up">About Us</h2>
            <p class="lead" style="font-weight: 800;line-height: 1cm;" data-aos="fade-up">
              <i class='bx bxs-right-arrow'></i>
              Quient training is an enthusiastic group intended to train
students in colleges that are denied the privilege of Placement
training, A group of Enthusiasts now have a vision of training
students that don’t have access to placement training that can
help them get placed, and thereby build their future.
            </p>
            <h2 class="mt-4" data-aos="fade-up">Why Placement Training Is Important?</h2>
            <p class="lead" style="font-weight: 800;line-height: 1cm;" data-aos="fade-up">
              <i class='bx bxs-right-arrow'></i>
              Placement training plays a major role in shaping up the career
              goals of students. It is the dream of every engineering student to
              get placed in a top organization visiting their campus for
              recruitment. Keeping this key aspect into consideration, it is
              realized that training is important for engineering students to
              enhance their employability skills and achieve good placement in
              various Industries
            </p>
            <p class="lead mt-2" style="font-weight: 800;line-height: 1cm;" data-aos="fade-up">
              <i class='bx bxs-right-arrow'></i>
              At present, the competition for employment is increasing every day
              and placement has become a challenging task. Training students and
              equipping them with life skills has become an important
              responsibility of the institution. Along with technical expertise,
              the development of a holistic personality is also necessary.
            </p>
          </div>

          <div class="row no-gutters">
            <div class="col-xl-7 d-flex align-items-stretch order-2 order-lg-1">
              <div class="content d-flex flex-column justify-content-center">
                <div class="row">
                  <div class="col-md-6 icon-box" data-aos="fade-up">
                    <i class="bx bxs-check-circle"></i>
                    <h4>training expertise</h4>
                    <p>
                      Consequuntur sunt aut quasi enim aliquam quae harum
                      pariatur laboris nisi ut aliquip
                    </p>
                  </div>
                  <div
                    class="col-md-6 icon-box"
                    data-aos="fade-up"
                    data-aos-delay="100"
                  >
                    <i class="bx bxs-check-circle"></i>
                    <h4>aptitude solver</h4>
                    <p>
                      Excepteur sint occaecat cupidatat non proident, sunt in
                      culpa qui officia deserunt
                    </p>
                  </div>
                  <div
                    class="col-md-6 icon-box"
                    data-aos="fade-up"
                    data-aos-delay="200"
                  >
                    <i class="bx bxs-check-circle"></i>
                    <h4>vocabulary richer</h4>
                    <p>
                      Aut suscipit aut cum nemo deleniti aut omnis. Doloribus ut
                      maiores omnis facere
                    </p>
                  </div>
                  <div
                    class="col-md-6 icon-box"
                    data-aos="fade-up"
                    data-aos-delay="300"
                  >
                    <i class="bx bxs-check-circle"></i>
                    <h4>logical reasoner</h4>
                    <p>
                      Expedita veritatis consequuntur nihil tempore laudantium
                      vitae denat pacta
                    </p>
                  </div>
                  <div
                    class="col-md-6 icon-box"
                    data-aos="fade-up"
                    data-aos-delay="400"
                  >
                    <i class="bx bxs-check-circle"></i>
                    <h4>placement expert</h4>
                    <p>
                      Et fuga et deserunt et enim. Dolorem architecto ratione
                      tensa raptor marte
                    </p>
                  </div>
                  <div
                    class="col-md-6 icon-box"
                    data-aos="fade-up"
                    data-aos-delay="500"
                  >
                    <i class="bx bxs-check-circle"></i>
                    <h4>Coding questions</h4>
                    <p>
                      Est autem dicta beatae suscipit. Sint veritatis et sit
                      quasi ab aut inventore
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div
              class="
                image
                col-xl-5
                d-flex
                align-items-stretch
                justify-content-center
                order-1 order-lg-2
              "
              data-aos="fade-left"
              data-aos-delay="100"
            >
              <img src="/img/assistance.jpg" class="img-fluid" alt="" />
            </div>
          </div>
        </div>
      </section>
      <!-- End App Features Section -->

      <!-- ======= Details Section ======= -->
      <section id="details" class="details">
        <div class="container">
          <div class="row content">
            <div class="col-md-4" data-aos="fade-right">
              <img src="/img/objective.png" class="img-fluid" alt="" />
            </div>
            <div class="col-md-8 pt-4" data-aos="fade-up">
              <h3>The prime objective of the Training Cell is :</h3>
              <ul>
                <li>
                  <i class="icofont-check"></i> To look for 100% employment for
                  all students.
                </li>
                <li>
                  <i class="icofont-check"></i> To recognize the core
                  competencies of the students.
                </li>
                <li>
                  <i class="icofont-check"></i> To train the students to meet
                  the expectations of the industry through our Career
                  Development Programmes.
                </li>
                <li>
                  <i class="icofont-check"></i> To build conﬁdence in students
                  and develop the right attitude in them and
                </li>
                <li>
                  <i class="icofont-check"></i> enhance their communication
                  skills.
                </li>
              </ul>
            </div>
          </div>

          <div class="row content">
            <div class="col-md-4 order-1 order-md-2" data-aos="fade-left">
              <img src="/img/train.jpg" class="img-fluid" alt="" width="100%" />
            </div>
            <div class="col-md-8 pt-5 order-2 order-md-1" data-aos="fade-up">
              <h3>Training Activities :</h3>
              <ul>
                <li>
                  <i class="icofont-check"></i> Create awareness about “career
                  planning" and "career mapping" among the students.
                </li>
                <li>
                  <i class="icofont-check"></i> Train the students on
                  “Personality development".
                </li>
                <li>
                  <i class="icofont-check"></i> Organize Various Training
                  Programmes to train the students in the areas of Quantitative
                  Aptitude, Logical Reasoning and Verbal reasoning through the
                  reputed external training organizations and in-house trainers.
                </li>
                <li>
                  <i class="icofont-check"></i> Train the students through Mock
                  Interviews to perform well in the professional interviews as
                  per the expectations of the corporate world.
                </li>
                <li>
                  <i class="icofont-check"></i> Train the students on group
                  discussion techniques
                </li>
                <li>
                  <i class="icofont-check"></i>Conduct online tests and written
                  aptitude tests.
                </li>
              </ul>
            </div>
          </div>
      <!-- End Details Section -->
    </main>
    <!-- End #main -->

    <!-- ======= Footer ======= -->
    <footer id="footer">
      <div class="footer-top">
        <div class="container">
          <div class="row">
            <div class="col-lg-3 col-md-6 footer-contact" data-aos="fade-up">
              <h3>Quient Group</h3>
              <p>
                A108 street <br />
                Bangalore, NY 560045<br />
                India <br /><br />
                <strong>Phone:</strong> +91 5589 55488 55<br />
                <strong>Email:</strong> info@example.com<br />
              </p>
            </div>

            <div
              class="col-lg-3 col-md-6 footer-links"
              data-aos="fade-up"
              data-aos-delay="100"
            >
              <h4>Useful Links</h4>
              <ul>
                <li>
                  <i class="bx bx-chevron-right"></i> <a href="/">Home</a>
                </li>
                <li>
                  <i class="bx bx-chevron-right"></i> <a href="/#features">About us</a>
                </li>
                <li>
                  <i class="bx bx-chevron-right"></i> <a href="/testinomial">Testimonials</a>
                </li>
                <li>
                  <i class="bx bx-chevron-right"></i>
                  <a href="/gallary">Gallary</a>
                </li>
                <li>
                  <i class="bx bx-chevron-right"></i>
                  <a href="/conact">Contact Us</a>
                </li>
              </ul>
            </div>

            <!-- <div
              class="col-lg-3 col-md-6 footer-links"
              data-aos="fade-up"
              data-aos-delay="200"
            >
              <h4>Our Training</h4>
              <ul>
                <li>
                  <i class="bx bx-chevron-right"></i> <a href="#">Web Design</a>
                </li>
                <li>
                  <i class="bx bx-chevron-right"></i>
                  <a href="#">Web Development</a>
                </li>
                <li>
                  <i class="bx bx-chevron-right"></i>
                  <a href="#">Product Management</a>
                </li>
                <li>
                  <i class="bx bx-chevron-right"></i> <a href="#">Marketing</a>
                </li>
                <li>
                  <i class="bx bx-chevron-right"></i>
                  <a href="#">Graphic Design</a>
                </li>
              </ul>
            </div> -->

            <div
              class="col-lg-3 col-md-6 footer-links"
              data-aos="fade-up"
              data-aos-delay="300"
            >
              <h4>Our Social Networks</h4>
              <p>
                Stay in contact always!!! <i class='bx bxs-hand-down'></i>
              </p>
              <div class="social-links mt-3">
                <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                <a href="#" class="instagram"
                  ><i class="bx bxl-instagram"></i
                ></a>
                <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
                <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="container py-4">
        <div class="copyright">
          &copy; Copyright <strong><span>Quinet Group</span></strong
          >. All Rights Reserved
        </div>
        <div class="credits">
          Designed by <a href="">Vishwas D Raj</a>
        </div>
      </div>
    </footer>
    <!-- End Footer --> 
    <div style="position: fixed;right: 88px; bottom: 45px;opacity: 0.8;" data-aos="fade-up">
     <p style="color: green;font-weight: bold;background-color: whitesmoke;">+915887451654</p>
    </div>

    <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

    <!-- Vendor JS Files -->
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/vendor/jquery.easing/jquery.easing.min.js"></script>
    <script src="/vendor/php-email-form/validate.js"></script>
    <script src="/vendor/owl.carousel/owl.carousel.min.js"></script>
    <script src="/vendor/venobox/venobox.min.js"></script>
    <script src="/vendor/aos/aos.js"></script>

    <!-- Template Main JS File -->
    <script type="text/javascript" src="/js/jquery.convform.js"></script>
    <script src="/js/main.js"></script>
  </body>
</html>
